# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments and env files
venv/
.venv/
env/
.env
.env.*   # local environment variable files

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Data + model artifacts
/data/
/model/*.pkl
/model/*.joblib
/model/*.h5

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/
